body,html{
    background-color:#1b1b1b;
    height:100%;
    width:100%;
}

.main{
    padding-top:25rem;
    text-align:center;
}

.main>a{
    display:inline-block;
text-decoration:none;
    color:black;
    font-size:1.5rem;
    background-color:#DCCA1C;
    padding:3rem 5rem;
    border-radius:1rem;
}

.main>a:hover{
    background-color:forestgreen;
    transition: all 0.3s;
    color:white;
}