/*@import url("fonts");*/

html{
    background-color:white;
}

.header {
    padding: 0 0 0 1rem;
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DCCA1C;
}


img{
    width:5rem;
}

.header .logo {
    height: 4rem;
}

.navbar-list {
    display: flex;
    list-style: none;
}

.navbar-link:link,
.navbar-link:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
    transition: all 0.3s;
    padding:0 2rem;
    border-left:1px solid white;
}

.navbar-link:hover,
.navbar-link:active {
    color: white;
}

.mobile-navbar-btn {
    margin-top:10rem;
    margin-right:20rem;
    display: block;
    cursor: pointer;
}

.fa-bars {
    width: 4rem;
    height: 4rem;
    color: blue;
}


.fa-plus,.fa-chart-line,.fa-gears,.fa-arrow-right-from-bracket{
    color:white;
    margin-right:0.4rem;
}

.fa-bars,.fa-x{
    color:blue;
    margin:0;
}

.fa-arrow-right-from-bracket{
    margin-left:0.5rem;
    color:red;
}
.fa-chart-line{
    margin-right:0.8rem;
}

@media (max-width: 870px){
    .fa-plus,.fa-chart-line,.fa-gears{
        color:black;
        display:none;
    }

    .logo{
        display:none;
    }
    .navbar-link:link,
    .navbar-link:visited{

        font-size:1rem;
        padding:0 1rem;
    }
    .header{
        height: 2rem;
        display: flex;
        justify-content:center;
        align-items: center;
    }



}
