body,html{
    background-color:white;
    height:100%;
    width:100%;
}

.dashboard{
    width:100%;
    height:57.9em;
    display:flex;
}

.list-image{
    width:3rem;
}

.ad-list{
    margin-top:1rem;
    display:flex;
    width:100rem;
    height:30rem;
    flex-direction:column;
    text-align:center;

}

td,tr{
    border:1px dotted black;
}

.offer-form{
    margin-top:30%;
    display:flex;
    flex-direction:column;
    width:30rem;
    text-align:center;

}

h2{
    margin-bottom:2rem;
}

.left-nav-panel{
    height:100%;
    border-right:1px solid black;
    display:flex;
    width:30rem;
}


a{
    color:black;
    font-size:1.1em;
    text-decoration: none;

}
input[type=button], input[type=submit], input[type=reset]  {
    background-color: #DCCA1C;
    border: none;
    color: black;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    border-radius: 5px;
    margin: 25px 20px 40px 20px;
    transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: forestgreen;
    color:white
}

input[type=button], input[type=submit]:active, input[type=reset]:active  {
    transform: scale(0.95);
}

input[type=text],input[type=password],input[type=file] {
    background:black;
    border: none;
    color: white;
    padding:0.7rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    margin: 5px;
    width: 18em;
    transition: all 0.5s ease-in-out;
    border-radius: 5px
}

input[type=text]:focus, input[type=password]:focus{
    color:black;
    background-color: white;
}

input:focus::placeholder {
    opacity: 0;
}

input::placeholder{
    color:white;
}

.fa-solid{
   display:block;
    color:red;
}

@media (max-width: 840px){

}

@media(max-width: 1200px){
.ad-list{
    display:none;
}

    .left-nav-panel{
        border-right:0px;
        width:100vw;
    }
    .left-nav-panel{
        display: flex;
        justify-content:center;
        align-items: center;
        width:100vw;
    }
    .offer-form{
        margin-top:1rem;
    }
}
