body{
    background-color:#DCCA1C;
}

.form-main-container{
    margin-top:8rem;
}
.form-container{
    width:30em;
    margin: 0 auto;

}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.register-form {
    width: 20rem;
    margin: 0 auto;
}

form{
    text-align:center;
    margin-top:0.8rem;
}

.messages{
    text-align:center;
    color:darkred;
}

a{
    color:black;
    font-size:1.1em;
    text-decoration: none;
}
input[type=button], input[type=submit], input[type=reset]  {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1rem;
    border-radius: 5px;
    margin: 25px 20px 40px 20px;
    transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: forestgreen;
    color:white
}

input[type=button], input[type=submit]:active, input[type=reset]:active  {
    transform: scale(0.95);
}

input[type=text],input[type=password] {
    background:black;
    border: none;
    color: white;
    padding:0.7rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 5px;
    width: 18em;
    transition: all 0.5s ease-in-out;
    border-radius: 5px
}

input[type=text]:focus, input[type=password]:focus{
    color:black;
    background-color: white;
  /*  border-bottom: 2px solid white;*/
}

input:focus::placeholder {
    opacity: 0;
}


@media (max-width: 980px) {
    .logo-image{
        width:8rem;
    }
    input[type=submit],input[type=text],input[type=password]{
        font-size:0.8rem;
        padding:0.3rem 4rem;

    }
    input[type=text],input[type=password]{
        padding:0.35rem;
        width: 15em;
    }
    .form-container{
        width:25rem;
        padding: 3em 0;
    }


}

@media (max-width: 560px) {
    .logo-image{
        width:8rem;
    }
}